<div class="page__content-main error">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                <div class="error__content">
                    <p class="large">Sorry, we can't find the resource you were looking for.</p> 
                    <a href="/" class="button button--small button--radius button--orange">Back to Homepage</a> 
                </div>
            </div>
        </div>
    </div>
</div>
