<div class="page__body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page__body--wrapper" style="height: 1800px;">
                    sdssd
                </div>
            </div>
        </div>
    </div>
</div>