/* cards section
================================ */
.card {
    &__view {
        margin-bottom: 20px;
        &--items {
            @include box-shadow(0 2px 14px -2px rgba(220, 220, 220, 0.5));
            @include transition(all 0.3s ease);
            display: block;
            @include padding(15 20 25);
            position: relative;
            @include flexbox();
            @include flex-direction(column,vertical);
            .embed-responsive {
                display: none;
                @media #{$media-ipadSmall} {
                    display : block !important;
                    @include margin-bottom(20);
                }
            }
            @media #{$media-ipadSmall} {
                .flex-last {
                    -webkit-box-ordinal-group: 0;
                    -webkit-order: -1;
                    -ms-flex-order: -1;
                    order: -1;
                } 
                .flex-first {
                    -webkit-box-ordinal-group: 2;
                    -webkit-order: 1;
                    -ms-flex-order: 1;
                    order: 1;
                }
            }
            .video-play {
                @include size(60px);
                @include border-radius(50%);
                border: 2px solid darken($white,3%);
                position: relative;
                z-index: 99;
                position: absolute;
                top: 50%;
                left: 50%;
                display: none;
                @include translate(-50%,-50%);
                @include box-shadow(0 0 5px 0 rgba($zblack,0.4));
                @include transition(all 0.5s ease);
                &:after {
                    content: '\f04b';
                    font-family: $iconfont;
                    @include font-size(30);
                    line-height: 1;
                    color: #f2f2f2;
                    position: absolute;
                    top: 50%;
                    left: 54%;
                    @include translate(-50%,-50%);
                    cursor: pointer;
                }
            }
            .optionSet {
                position: absolute;
                top: 10px; 
                left: 0;
                width: 85px;
                @include transition(all 0.3s ease);
                @include opacity(0);
                visibility: hidden;
                z-index: 99;
                li {
                    color: $white;
                    @include padding(5 10);
                    @include font-size(13);
                    position: relative;
                    background: rgba($zblack, 0.6) none repeat scroll 0 0; 
                    @include transition(all 0.3s ease);
                    + li {
                        border-top: 1px solid rgba($zblack, 0.2);
                    }
                    span {  
                        position: absolute;
                        top: 50%;
                        right: 0;
                        @include translate(0,-50%);
                        text-align: center;
                        width: 30px;
                        &.fa-spin {
                            top: 6px !important;
                        }
                    }
                    &:hover, &:focus {
                        background: rgba($zblack, 1) none repeat scroll 0 0;
                    }  
                }
            }
            &:hover, &:focus {
                @include box-shadow(0 2px 17px -1px rgba(175, 175, 175, 0.5));
                .optionSet{
                    @include opacity(1);
                    visibility: visible;
                }
                .video-play {
                    background: white none repeat scroll 0 0;
                    &:after {
                        color: $black;
                    }
                }
            }
        }
        &--content {
            .content__section {
                &--category {
                    @include font-size(12);
                    @extend .font-bold;
                    letter-spacing: 3.4px;
                    color: $red;
                    position: relative;
                    @include padding-bottom(12);
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 25px;
                        height: 4px;
                        background: $zblack none repeat scroll 0 0;
                        @include border-radius(4px);
                    }
                }
                &__head {
                    @include flexbox();
                    @include justify-content(space-between);
                    &--heading {
                        font-family: $secondary-fonts-regular;
                        @include font-size(18);
                        line-height: 28px;
                        letter-spacing: -0.1px;
                        @include margin(15 0 10);
                        height: 140px;
                        width: calc(#{$viewportSize} - 100px);
                        overflow: hidden;
                        @media #{$media-ipadSmall} {
                            height: inherit !important; 
                            width: $viewportSize !important;
                        }
                    }
                    &--image {
                        position: relative;
                        height: 90px;
                        @media #{$media-ipadSmall} {
                            display: none;
                        }
                        figure {
                            @include size(90px);
                        }
                    }
                }
                &--description {
                    @include font-size(14);
                    line-height: 24px;
                    @extend .font-light;
                    height: 180px;
                    @media #{$media-ipadSmall} {
                        height: inherit !important; 
                    }
                }
                &-userInfo {
                    @include flexbox();
                    @include align-items(center);
                    @include margin-top(15);
                    &-image {
                        @include size(32px);
                        @include margin-right(20);
                        @include border-radius(50%);
                    }
                    &-content {
                        width: calc(#{$viewportSize} - 52px);
                        .title {
                            @include font-size(12);
                            @extend .font-medium;
                            letter-spacing: 3.4px;
                        }
                        .designation {
                            @include font-size(11);
                            @extend .font-regular;
                            color: $grey;
                            display: block;
                            @include margin-top(4);
                        }
                    }
                }
            }
        }
        .social {
            .card__view--content {
                .social-icons {
                    display: block;
                    text-align: center;
                    @include size(30px);
                    @include border-radius(50%);
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 11;
                    &:before {
                        content: '';
                        font-family: $iconfont;
                        @include font-size(18);
                        line-height: 30px;
                        color: #b7af98;
                    }
                }
            }
            &.twitter {
                .card__view--content .social-icons {
                    background-color: $twitter;
                    &:before {
                        content: '\f099';
                        color: $white;
                    }
                }
            }
            &.facebook {
                .card__view--content .social-icons {
                    background-color: $facebook;
                    &:before {
                        content: '\f09a';
                        color: $white;
                    }
                }
            }
            &.linkedin {
                .card__view--content .social-icons {
                    background-color: $linkedin;
                    &:before {
                        content: '\f0e1';
                        color: $white;
                    }
                }
            }
            &.instagram {
                .card__view--content .social-icons {
                    background-color: $zblack;
                    &:before {
                        content: '\f16d';
                    }
                }
            }
            &.youtube {
                .card__view--content .social-icons {
                    background-color: $youtube;
                    &:before {
                        content: '\f167';
                        color: $white;
                    }
                }
            }
            &.vimeo {
                .card__view--content .social-icons {
                    background-color: $vimeo;
                    &:before {
                        content: '\f27d';
                        color: $white;
                    }
                }
            }
        }
        &-full {
            .card__view {
                &--items {
                    @include padding(25 20);
                    @include flex-direction(row,horizontal);
                    @media #{$media-ipadSmall} {
                        @include padding(25 20);
                        @include flex-direction(column,vertical);
                    }
                    .embed-responsive {
                        width: 40%;
                        display: block;
                        @media #{$media-ipadSmall} {
                            width: $viewportSize;
                        }
                    }
                    .card__view--content {
                        width: 60%;
                        @media #{$media-ipadSmall} {
                            width: $viewportSize;
                        }
                        .content__section {
                            width: 80%;
                            @media #{$media-ipadSmall} {
                                width: $viewportSize;
                            }
                            &__head {
                                @include flex-direction(column,vertical);
                                @include justify-content(flex-start);
                                &--heading {
                                    width: $viewportSize;
                                    height: inherit;
                                    @include font-size(24);
                                    letter-spacing: 0.3px;
                                    line-height: 32px;
                                }
                                &--image {
                                    display: none;
                                }
                            }
                            &--description {
                                height: 90px;
                                line-height: 29px;
                                @media #{$media-ipadSmall} {
                                    height: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
        .without-image {
            .card__view {
                &--items {
                    .embed-responsive {
                        display: none;
                    }
                }
                &--content {
                    width: $viewportSize;
                    .content__section {
                        width: $viewportSize;
                        &__head {
                            &--heading {
                                width: $viewportSize;
                                height: 90px;
                            }
                            &--image {
                                display: none;
                            }
                        }
                        &--description {
                            height: 230px;
                        }
                    }
                }
            }
        }
        .video {
            .video-play {
                display: block;
            }
            .embed-responsive {
                &:after {
                    content: '';
                    position: absolute;
                    @include size($viewportSize);
                    left: 0;
                    top: 0;
                    @include linear-gradient(rgba($zblack,0), rgba($zblack,0.6));
                }
            }
            .card__view--content {
                .content__section__head {
                    &--image {
                        &:after {
                            content: '';
                            position: absolute;
                            @include size($viewportSize);
                            left: 0;
                            top: 0;
                            @include linear-gradient(rgba($zblack,0), rgba($zblack,0.6));
                        }
                        .video-play {
                            @include size(40px);
                            &:after {
                                @include font-size(18);
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}