/* Page Footer section
================================ */
.cta-wrap {
    position: relative;
    z-index: 10;
    background-color: $zblack;
    @include padding(53 0 32);
    &__main {
        @include flexbox();
        @include flex-direction(column,vertical);
        position: relative;
        z-index: 12;
        &--title {
            @include font-size(36);
            color: $white;
            @extend .font-light;
        }
        &--description {
            @include font-size(18);
            line-height: 29px;
            max-width: 350px;
            @extend .font-light;
            color: $white;
            @include margin-top(10);
        }
        &__input-form {
            @include margin-top(15);
            max-width: 350px;
            .form-group {
                input {
                    border: none;
                    border-bottom: 1px solid $white;
                    background: none repeat scroll 0 0;
                    @include border-radius(0);
                    color: $white;
                    @include placeholder {
                        color: $white;
                    }
                    &:focus {
                        border-color: $red;
                    }
                }
            }
            .button {
                @extend .font-medium;
            }
        }
    }
    &.bg-image {
        @extend .image-covered;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            @include size(#{$viewportSize});
            z-index: 11;
            background: linear-gradient(to left, rgba($zblack, 0), $zblack);
        } 
    }
}