/* Page Footer section
================================ */
.footer {
    background: rgba($darkGrey,0.15) none repeat scroll 0 0;
    &__main {
        @include padding(40 0);
        &__content {
            &--logo {
                a {
                    display: block;
                    width: 180px;
                    @media #{$media-ipadPortrait} {
                        width: 140px;
                    }
                }
                @media #{$media-ipadSmall} {
                    @include margin-bottom(15);
                }
            }
            &--heading {
                @extend .font-bold;
                color: $grey;
                @include margin(40 0 15);
                @include font-size(14);
                @media #{$media-ipadPortrait} {
                    @include margin(35 0 15);
                }
                @media #{$media-ipadSmall} {
                    @include margin(15 0);
                }
            }
            &--menu {
                li {
                    margin-bottom: 9px;
                    a {
                        @include font-size(14);
                        @include transition(all 0.3s ease);
                        color: $grey;
                        &:hover, &:focus {
                            color: $blue;
                        }
                    }
                }
            }
            &--social-media {
                a {
                    color: $darkBlue;
                    @include transition(all 0.3s ease);
                    + a {
                        @include margin-left(10);
                    }
                    &:hover, &:focus {
                        color: $blue;
                    }
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid $border;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include padding(12 0);
        @media #{$media-ipadSmall} {
            @include flex-direction(column,vertical);
        }
        &--ls {
            color: $grey;
            @include font-size(12);
            letter-spacing: 0.2px;
        }
        &--navigation {
            @media #{$media-ipadSmall} {
                @include margin-top(8);
            }
            a {
                @include font-size(12);
                letter-spacing: 0.2px;
                color: $grey;
                @include transition(all 0.3s ease);
                + a {
                    &:before {
                        content: '|';
                        @include margin(0 10);
                        color: $grey;
                        @media #{$media-ipadSmall} {
                            @include margin(0 5);
                        }
                    }
                }
                &:hover, &:focus {
                    color: $blue;
                }
            }
        }
    }
}