/* Page Header section
================================ */
.header {
    background: $zblack none repeat scroll 0 0;
    @include padding-bottom(112);
    @media #{$media-ipadPortrait} {
        position: fixed;
        width: $viewportSize;
        z-index: 99;
        @include padding-bottom(0);
    }
    &__top {
        @include padding(25 0 20);
        border-bottom: 3px solid darken($white,5%);
        background-image: url('../images/header-band.png');
        background-repeat: no-repeat;
        @include background-size(contain);
        background-position: center right; 
        &--logo {
            a {
                width: 200px;
                display: block;
            }
        }
        @media #{$media-ipadPortrait} {
            display: none;           
        }
    }
    &__main {
        background: $zblack none repeat scroll 0 0;
        @include padding(30 0 50);
        z-index: 99 !important;
        @media #{$media-ipadPortrait} {
            @include padding(15 0);
        }
        &--logo {
            width: 0px;
            @include transition(all 0.3s ease);
            @media #{$media-ipadPortrait} {
                width: 110px;
                a, a img {
                    display: block;
                }
            }
            a {
                width: 110px; 
                @include transition(all 0.3s ease);
            }
        }
        &__wrap {
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between); 
        }
        &__navigation {
            width: $viewportSize;
            @media #{$media-ipadPortrait} {
                display: none;
            }
            ul {
                @include flexbox();
                @include justify-content(space-between);
                li {
                    &:not(.hide) {
                        + li {
                            margin-left: 20px;
                        }
                    }
                }
            }
            &--links {
                @include flexbox();
                @include align-items(center);
                .user {
                    &--image {
                        @include size(40px);
                        border: 1px solid $white;
                        display: block;
                        @include border-radius(50%);
                    }
                    &--title {
                        color: $white;
                        @include font-size(12);
                        @include margin-left(12);
                        line-height: 1.5;
                        letter-spacing: 0.7px;
                        position: relative;
                        text-transform: uppercase;
                        &--break {
                            display: block;
                        }
                    }
                    &--line-bar {
                        background-color: $light-grey;
                        width: 46px;
                        height: 4px;
                        @include border-radius(4px);
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                    }
                }
            }
        }
        &__icons {
            &--search-box {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(#{$viewportSize} - 20px);
                height: calc(#{$viewportSize} + 20px);
                background: $zblack none repeat scroll 0 0;
                @include padding(10 0);
                @include margin(0 10);
                @include opacity(0);
                visibility: hidden;
                @include transition(all 0.3s ease);
                &.active {
                    @include opacity(1);
                    visibility: visible;
                }
                .input-group {
                    .input-field {
                        background: $zblack;
                        border: none;
                        border-bottom: 1px solid $white;
                        @include border-radius(0);
                        color: $white;
                        @include font-size(30);
                        letter-spacing: 0.9px;
                        @extend .font-light;
                        @include padding-right(35);
                        @include placeholder {
                            color: $white;
                        }
                    }
                    .search-button {
                        border: none;
                        background: none repeat scroll 0 0;
                        position: absolute;
                        right: 0;
                        color: $white;
                        @include font-size(20);
                        height: $viewportSize;
                        z-index: 13;
                        cursor: pointer;
                    }
                }
            }
            &--list {
                @include flexbox();
                @include align-items(center);
                @include margin-left(20);
                .icons {
                    @include font-size(21);
                    line-height: 1;
                    color: $white;
                    + .icons {
                        @include margin-left(30);
                    }
                    &.menu {
                        display: none;
                        @media #{$media-ipadPortrait} {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .sticky-wrapper {
        @media #{$media-ipadPortrait} {
            height: inherit !important;
        }
    }
    .is-sticky {
        .header__main {
            @include padding(25 0);
            &--logo {
                width: 110px;
                a {
                    display: block;
                    img {
                        display: block;
                    }
                }
            }
            &__navigation {
                margin-left: 20px;
                &--links {
                    .user {
                        &--image {
                            @include size(30px);
                        }
                        &--title {
                            @include font-size(10);
                        }
                    }
                }
            }
        }
    }
}