/* Page Footer section
================================ */
.footer {
    background: $zblack none repeat scroll 0 0;
    @include padding(60 0 40);
    &-logo {
        margin-bottom: 25px;
        a {
            width: 185px;
            display: block;
        }
    }
    &-bottom {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include font-size(14);
        &__navigation {
            a {
                @extend .font-light;
                color: $white;
                letter-spacing: 0.4px;
                &:not(.hide) {
                    + a {
                        &:before {
                            content: '|';
                            @include margin(0 10); 
                        }
                    }
                }
            }
        }
        &__social {
            a {
                color: $white;
                @include font-size(17);
                &:not(.hide) {
                    + a {
                        @include margin-left(15);
                    }
                }
            }
        }
    }
}