<div class="republish__slideWindow">
    <div class="republish__slideWindow-content">
        <div class="republish__slideWindow-content-topSection">
            <div class="content-wrapper">
                <h2 class="uppercase">
                    Republish
                    <span class="close-button"><i class="fa fa-close"></i></span>
                </h2>
                <h3>Republish</h3>
                <p>You may republish this article online or in print under our Creative Commons licence. You may not edit or shorten the text, you must attribute the article to Monash Lens, and you must include the author’s name in your republication. </p>
                <p>If you have any questions, please email <a href="mailto:lens.editor@monash.edu">lens.editor@monash.edu</a></p>
                <h3>Republishing Guidelines</h3>
                <p><a href="/republishing-guidelines">https://lens.monash.edu/republishing-guidelines</a></p>
            </div>
            <div class="article-details">
                <div class="title">Title</div>
                <div class="article-title"></div>
                <div class="content-copy-section">
                    <h3>Content</h3>
                    <button class="button button-blue copyToClipboard">Copy all</button>
                </div>
            </div>
        </div>
        <div class="republish__slideWindow-content-bottomSection">
            <div class="article-content-here" id="articleContentCopy">
            </div>
        </div>
    </div>
    <div class="overlay-layer"></div>
</div>