{% set blogInfo = _Menu.getSocialLinks()%}
{% set ftClass = "footer-main__container__listing--justify-end" %}
{% if blogInfo['vimeo'] is not empty or blogInfo['linkedin'] is not empty or blogInfo['google'] is not empty or blogInfo['facebook'] is not empty or blogInfo['twitter'] is not empty or blogInfo['instagram'] is not empty or blogInfo['youtube'] is not empty %}
    {% set ftClass = "" %}
{% endif %}
{% set menuItems = _Menu.get({menuType: 'footer'}) %}
{#{{ _AppHelper.printArray(menuItems)}}#}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__main">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="footer__main__content">
                                <div class="footer__main__content--logo">
                                    {% set logoUrl = network.networkLogoLinkUrl %}
                                    {% if network.logoMedia | length > 0 %}
                                        {% set mainLogo = _Media.getMediaUrl(network.logoMedia, 177, 65, {'crop': 'limit'} )%}
                                    {% endif %}
                                    {% set mainLogo = network.templatePath~'/static/images/gv-health-logo.svg' %}
                                    <a href="{{logoUrl}}">
                                        <img src="{{mainLogo}}" class="img-fluid" alt="logo" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 col-xxs-12">
                            <div class="footer__main__content">
                                <div class="footer__main__content--heading">Category One</div>
                                <ul class="footer__main__content--menu">
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu Two</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 col-xxs-12">
                            <div class="footer__main__content">
                                <div class="footer__main__content--heading">Category Two</div>
                                <ul class="footer__main__content--menu">
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md-2 col-xxs-12">
                            <div class="footer__main__content">
                                <div class="footer__main__content--heading">Category Three</div>
                                <ul class="footer__main__content--menu">
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Menu One</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        {{ this.render('social-links.twig', {blogInfo: blogInfo}) | raw }}
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__bottom--ls">&copy; 2018 Goulburn Valley Health</div>
                    <div class="footer__bottom--rs">
                        <div class="footer__bottom--navigation">
                            <a href="javascript:;">Disclaimer</a>
                            <a href="javascript:;">Copyright</a>
                            <a href="javascript:;">Privacy</a>
                            <a href="javascript:;">Accessibility</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                    